@import '../../node_modules/bootstrap/scss/bootstrap-flex';
@import './home';
@import './admin';

body {
  background-color: black;
  color: white;
  font-family: serif;

  #root {
    height: 100%;
  }
}